/**
 * Mon Feb 13, 2012 10:43:38 added by Thanh Son 
 * Email: thanhson1085@gmail.com 
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: verdana;
	font-size: 14px;
}


#main{
	margin: 0 auto;
	width: 980px;
}
.session{
	line-height: 25px;
}
.q-content-container{
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	border: solid 1px #ccc;
	border-radius:3px;
	position: relative;
}
.q-content-container img{
	max-width: 900px;
	height: auto;
}
.tq-content-container .q-content-container{
	margin-top: 10px;
	display: none;
}
.tq-content-container .q-content-container img{
	max-width: 700px;
	height: auto;
}
.q-answer-container{
	padding-top: 10px;
	padding-left:10px;
}

.q-answer-container label,.q-answer-container input{
	vertical-align:middle;
}
.q-title{
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #D24939;
}
.q-desc{
	margin-left: 5px;

}
.q-answer-container p input[type="text"]{
	border: solid 1px #6E94FE;	
	border-radius:3px;
	height: 35px;
	width: 300px;
	font-size: 24px;
	font-family: verdana;
	margin-top: 10px;
}

.q-answer-container input:focus {
	border-color: #6E94FE; box-shadow: 0 0 8px #6E94FE; -moz-box-shadow: 0 0 8px #6E94FE; -webkit-box-shadow: 0 0 8px #6E94FE;outline:0;
}
.btn-summit-container{
	padding-top: 20px;
}
.btn-summit-container input.btn-summit{
	border: solid 1px #6E94FE;	
	background: #6E94FE;
	color: white;
	border-radius:3px;
	height: 35px;
	font-size: 24px;
	font-family: verdana;
}
.btn-summit-container input.btn-summit:hover, .btn-summit-container input.btn-summit:focus{
	border-color: #6E94FE; box-shadow: 0 0 8px #6E94FE; -moz-box-shadow: 0 0 8px #6E94FE; -webkit-box-shadow: 0 0 8px #6E94FE;outline:0;	
}
.e-content-header{
	background: #6E94FE;
	color: #ddd;
	font-size: 16px;	
	padding-bottom: 10px;
	border-radius: 0 0 3px 3px;
	line-height: 40px;
}
.e-content-header p{
	border-top: solid 1px #ccc;
	padding-left: 10px;
	padding-right: 10px;
}
.label-2{
	margin-left: 50px;
}
.e-content-header p span{
	color: white;
	font-weight: bold;
}

.e-content-header p ul li{
	width: 300px;
	display: inline;
}


.e-content-header p input[type="text"]{
	border: solid 1px #6E94FE;
    border-radius:3px;
    height: 25px;
    width: 300px;
    font-size: 18px;
	color: #6E94FE;
    font-family: verdana;
	background: #FFFAE6;
}
p.password-container{
	padding-top: 200px;
	text-align: center;
}
p.password-container input[type="submit"]{
    border: solid 1px #6E94FE;
	background: #6E94FE;
    border-radius:3px;
	color: white;
	cursor: pointer;
    height: 35px;
    font-size: 24px;
    font-family: verdana;
}
p.password-container label, p.password-container span{
	color: #DDD;
    font-size: 24px;
    font-family: verdana;
}
p.password-container input[type="password"]{
    border: solid 1px #6E94FE;
    border-radius:3px;
    height: 35px;
    width: 200px;
    font-size: 24px;
    font-family: verdana;
	padding-left: 10px;
	margin-left: -200px;
	margin-left: 5px;
	margin-right: 3px;
	color:#D24939; 
	background: transparent;
}
p.password-container span{
	background: transparent;
	margin-left: -200px;
}
p.password-container span:hover{
	color: #ccc;
}
p.password-container input[type="password"]:focus,p.password-container input[type="submit"]:hover, p.password-container input[type="submit"]:focus {
	border-color: #6E94FE; box-shadow: 0 0 8px #6E94FE; -moz-box-shadow: 0 0 8px #6E94FE; -webkit-box-shadow: 0 0 8px #6E94FE;outline:0;
}
p.password-container input[type="password"]:focus{
	background: white;
}
p.e-result{
	text-align: center;
	padding-top: 200px;
}
p.e-result span{
    border: solid 1px #6E94FE;
    background: #6E94FE;
    border-radius:10px;
    color: white;
    height: 100px;
    font-size: 60px;
    font-family: verdana;
	padding: 10px;
}
.p-content-header, table.tbl-mark{
	width: 700px;
	margin: 0 auto;
}
table.tbl-mark, table.tbl-mark tr, table.tbl-mark tr td, table.tbl-mark th{
	border: solid 1px black;
	border-collapse: collapse;
}
table.tbl-mark tr td{
 	height: 30px;
	vertical-align: middle;
}
table.tbl-mark tr td.aligncenter{
	text-align: center;
}

table.tbl-mark tr td.alignleft{
	text-align: left;
	padding-left: 10px;
}
table.tbl-mark th{
	font-weight: bold;	
	background: #ddd;
	height: 50px;
	vertical-align: middle;
}
.p-content-header{
	line-height: 25px;
	font-size: 14px;
}
p.p-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding: 20px;
	padding-top: 50px;
}
.footer{
	margin-top: 20px;
	border-top: solid 1px #ddd;
	height: 50px;
	position: relative;
}

.footer-info{
	float: right;
	color: #ccc;
}

.s-menu-container{height: 32px;margin-bottom:20px;}
.s-menu{ 
	position: relative;
  /* fallback */
  background-color: #6E94FE;
  background-repeat: repeat-x;
border-bottom:solid 1px #558ddd;
border-top:solid 1px #92b2d9;
height: 100%; margin:0 auto; width:988px;background-color:#4f8ce1;border-radius: 5px; }
.menu-right{position:absolute;float:right;right:10px;top:0;}
.s-menu ul li a{width:auto;text-decoration: none;font-weight:normal;color: white; line-height:31px;padding:8px 8px 8px 0px;}
.s-menu ul li{padding: 8px 0px 7px 0;}
.s-menu ul.menu-left li:first-child {border-radius: 5px 0 0 5px;padding-left:8px;}
.s-menu ul li{line-height:33px;border-top:solid 1px transparent;border-bottom: solid 1px transparent; display: inline;background: url('images/mn_border.png') repeat-y right top;}
.s-menu ul li a:hover, .s-menu ul li:hover{background-color:#aadbf9;}
.s-menu ul.menu-right li a{ border-left:solid 1px #ccc; border-right:0;}
.s-menu ul.menu-right li a:hover{cursor: pointer; background-color:transparent;}

.megamenu{
position: absolute;
display: none;
left: 0;
top: 0;
background: white;
border: solid #3281c6;
border-width: 1px 1px;
border-top: solid 1px transparent;
/*padding: 10px;*/
padding-top: 5px;
padding-bottom: 10px;
font: normal 13px Verdana;
z-index: 100;
margin-left:-7px;
border-radius: 0 0 3px 3px;
}
.megamenu .column{
float: left;
width: 180px; /*width of each menu column*/
/*margin-right: 5px;*/
}

.megamenu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.megamenu .column ul li{
line-height: 23px;
padding-left: 10px;
}

.megamenu .column h3{
background: white;
font: bold 13px Verdana;
margin: 0 0 0 0;
line-height: 23px;
padding-left: 10px;
}

.megamenu .column ul li a,.megamenu .column h3 a{ text-decoration: none; line-height: 23px;}
.megamenu .column h3 a:hover{background-color:#D2E8FF; color: #3281c6; border-bottom: solid 1px transparent;}
.megamenu .column h3:hover{background-color:#D2E8FF;}

.megamenu .column ul li a:hover{ color: #3281c6; background-color: #D2E8FF; }
.megamenu .column ul li:hover{ background-color: #D2E8FF;}
.big-thumbnail-container{ display:none; position: absolute; top: 0;left: 191px; z-index: 100;padding: 5px; border: solid 1px #ccc; background: #FFF; border-radius: 3px; border-color: #3281c6; box-shadow: 0 0 8px #3281c6; -moz-box-shadow: 0 0 8px #3281c6; -webkit-box-shadow: 0 0 8px #3281c6;outline:0;}
.big-thumbnail-container img{border: 0;padding: 0; outline: 0; margin: 0;}
.s-menu ul li.s-current-menu{ background-color:#80CAF8;}
.s-menu ul li.s-current-menu:hover{background-color:#aadbf9;}

.i-right-sidebar{
	width: 200px;
	float:left;
	margin-bottom: 5px;
	
}

.i-body-content{
	width: 770px;
	min-height: 200px;
	float: right;
	margin-left: -220px;
	

	
}
.i-welcome{
	width: 500px;
	min-height: 200px;
	background: url(images/flower.png) no-repeat top right;
	float:right;
}
.i-content{
	overflow: auto;
}
.i-header{
	height: 100px;
	border-bottom: solid 1px #ddd;
	margin-bottom: 10px;
	position: relative;
}
.btn-test-list li a{
	text-decoration: none;
	margin: 0 auto;
	margin-bottom:10px;

	margin-top: 10px;
	border-radius: 5px;
	background: #6E94FE;
	width: 194px;
	height: 35px;
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.btn-test-list li a:hover, .btn-test-list li a:focus{
	background: #D24939;
	color: #ccc;
	border-color: #000; box-shadow: 0 0 4px #D24939; -moz-box-shadow: 0 0 4px #D24939; -webkit-box-shadow: 0 0 4px #D24939;outline:0;

}
.btn-test-list li{
	line-height: 35px;
}
.i-right-h2{
	color: #CCC;
	text-transform: uppercase;
	border-bottom: solid 1px #ccc;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 25px;
}
.i-term-container{
	border: solid 1px #6E94FE;
	border-top: solid 25px #6E94FE;
	border-radius: 5px;
	padding: 5px;
	padding-bottom:10px;
	margin-bottom: 10px;
	
}

.i-term-container label,.i-term-container input{
	vertical-align:middle;
}
.i-right-h3{
	margin-top: -25px;
	margin-bottom: 10px;
	color:#FFF;
	font-weight: bold;
}
.i-right-btn{ 
	text-align: center;
}
.i-right-btn input{
	height: 30px;
	background:#6E94FE;
	color: white;
	border-radius: 5px;
	outline: 0;
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family:verdana;
}
.i-right-btn input:hover{
	background: #D24939;
	color: #ccc;
	border-color: #000; box-shadow: 0 0 4px #D24939; -moz-box-shadow: 0 0 4px #D24939; -webkit-box-shadow: 0 0 4px #D24939;outline:0;

}

#topbar{
	position: absolute;
	float: right;
	top: 80px;
	right: 0;
	color: #6E94FE;
	
		
}
#topbar a{
	text-decoration: none;
}
.next-page-container{
	text-align: right;
	bottom: -40px;
	position: absolute;
	float: right;
	right: 0;
}
#i-message{
	display:none;

	background:#D24939;
	margin-top: 10px;
	border-radius: 5px;
	line-height: 15px;
	color:#FFF;
	padding: 10px;
}

.btn-bypass, .btn-next{
	padding: 5px;
	background: #6E94FE;
	border-radius: 5px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	cursor: pointer;
	
}

#i-test-info{
	background:#6E94FE;
	margin-top: 10px;
	border-radius: 5px;
	line-height: 15px;
	color:#FFF;
	padding: 10px;
	text-align: justify;
	
}
#i-test-info ul {list-style: none; }
#i-test-info ul  li{display: inline; text-align: justify;}
#i-test-info ul  li{padding-right: 30px;}

.icon{ height: 10px; vertical-align: middle; padding:0;margin:0; margin-right: 5px;}

